.animated-button_color_blue {
    color:#0f4b6d !important;
    border:1px solid #84acc3 !important;
    /* A fallback background color */
    background-color: #48b5f2;
    /* Specifying a version with gradients according to */
    background-image:    url('../animated-button.png'), url('../animated-button.png'), -moz-radial-gradient(center bottom, circle, rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px), -moz-linear-gradient(#4fbbf7, #3faeeb);
    background-image:    url('../animated-button.png'), url('../animated-button.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(89,208,244,1)), to(rgba(89,208,244,0))), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
}

.animated-button_color_blue:hover{
    background-position:top left;
    background-position:top left, bottom right, 0 0, 0 0;
}